{% extends "layout.html" %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-lg-4">
            <h3>Bot Message Histories</h3>

            <ul class="list-group list-group-flush">
            {% for history in message_histories %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ history.message }}</h5>
                </div>
            </div>
            {% endfor %}
            </ul>

        </div>

        <div class="col-xs-6 col-lg-4">
            <h3>Schedule Histories</h3>

            <ul class="list-group list-group-flush">
            {% for history in scheduled_histories %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ history.product_title }}</h5>
                </div>
            </div>
            {% endfor %}
            </ul>

        </div>

        <div class="col-xs-6 col-lg-4">
            <h3>Job Histories</h3>

            <ul class="list-group list-group-flush">
            {% for history in job_histories %}
            <div class="card text-center">
                <div class="card-header">{{ history.timestamp }}</div>
                <div class="card-body">
                  <h5 class="card-title">{{ history.job_message }}</h5>
                </div>
                <div class="card-footer text-muted"><a href="{{ history.item_url }}" target="_blank">target_item</a></div>
            </div>
            {% endfor %}
            </ul>

        </div>
    </div>
</div>


{% endblock %}