/.vscode
/img
/test_lib
/logfile
/.env
flask_data/__payache__/
/created_file/image
!/created_file/image/.gitkeep
/created_file/log
!/created_file/log/.gitkeep
/.DS_Store
# これ以下の全ディレクトリに適用
*.pickle
__payache__
*.pyc
*.DS_Store