/.vscode
/img
/test_lib
/logfile
/.env
/config
flask_data/__payache__/
/created_file/image/*
/created_file/log/*
!/created_file/image/.gitkeep
/.DS_Store
# これ以下の全ディレクトリに適用
*.pickle
__payache__
*.pyc
*.DS_Store