{% extends "layout.html" %}
{% block body %}
<h2>How to use AutoPurchaser ?</h2>

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-lg-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img
                    src="static/images/tech_icon.jpg"
                    class="img-fluid"
                  />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Line Message</h5>
                  <p class="card-text">
                    AutoPurchaserは、Lineをインターフェースとして動作します。Line Botに定型文を送信することによって商品の監視、購入を実行します。
                  </p>
                  <a href="{{ url_for('history.show_line_bot_description') }}" class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-lg-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img
                    src="static/images/tech_icon.jpg"
                    class="img-fluid"
                  />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Histories of AutoPurchaser</h5>
                  <p class="card-text">
                    過去の商品監視履歴を閲覧できます。ログインが必要。
                  </p>
                  <a href="{{ url_for('history.show_history', user_id=session['user_id']) }}" class="btn btn-primary">Button</a>
                </div>
              </div>
        </div>
        <div class="col-xs-12 col-lg-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img
                src="static/images/tech_icon.jpg"
                class="img-fluid"
              />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">User Information</h5>
              <p class="card-text">
                ログイン者の情報を閲覧できます。ログインが必要。
              </p>
              <a href="{{ url_for('history.show_user_info', user_id=current_user.user_id) }}" class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}